.body {
  margin-top: 2rem;
}

.group {
  margin-left: 20px;
}

.group .item {
  width: 180px;
}

.feature {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.item {
  font-size: 1.25rem;
  width: 200px;
}

.input {
  flex-grow: 1;
}