.airPurifier {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 22px;
}

.button {
  border: none;
  background: none;
  color: white;
  padding: 2px;
  font-size: 20px;
}

.button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px white);
}

.button[data-id] {
  font-size: 15px;
  position: absolute;
  width: max-content;
}

.button[data-id="0"] {
  left: -18px;
  top: 0;
}

.button[data-id="1"] {
  left: -18px;
  top: 15px;
}

.button[data-id="2"] {
  left: -3px;
  top: 22px;
}

.button[data-id="3"] {
  left: 11px;
  top: 22px;
}

.button[data-id="4"] {
  left: 24px;
  top: 15px;
}

.button[data-id="5"] {
  left: 23px;
  top: 0;
}

.btn-on {
  color: white;
  filter: drop-shadow(0 0 9px white);
}

.btn-off {
  color: white;
}

.btn-on.busy {
  color: lightgray;
}

.btn-off.busy {
  color: lightgray;
}