.bookmarks {
  --bg-color: #313443;
  --bg-hover: rgba(255, 255, 255, 0.08);
  --folder-color: #92939a;
  --dropdown-bg-color: #1e2029;

  background-color: var(--bg-color);
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.bookmarksBar {
  display: flex;
  gap: 2px;
  list-style: none;
  margin: 0;
  padding: 4px;
}

.menuItem {
  position: relative;
}

.menuItem .btn {
  padding: 6px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuItem a {
  cursor: default;
  display: flex;
  align-items: center;
  padding: 6px;
  text-decoration: none;
  color: #fff;
}

.menuItem a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuItem:hover {
  background: var(--bg-hover);
  border: none;
  border-radius: 4px;
}

.menuItem .btn svg {
  color: var(--folder-color);
  font-size: larger;
}

.menuItem .img {
  display: block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.btn {
  cursor: default;
}

.btnSubmenu {
  width: 100%;
}

.btnSubmenu::after {
  content: '';
  position: absolute;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid var(--folder-color);
}

.dropdown {
  position: absolute;
  left: 0;
  right: auto;
  margin: 0;
  padding: 10px 0;
  z-index: 9999;
  min-width: 300px;
  max-width: 400px;
  list-style: none;
  background-color: var(--dropdown-bg-color);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}

.dropdownSubmenu {
  left: 100%;
  top: -10px;
}

.dropdown>.menuItem>a,
.dropdown>.menuItem>.btn {
  padding: 6px 24px;
}