.container {
  position: relative;
  margin: 4rem;
  display: grid;
  column-gap: 1rem;
  row-gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "clock sites weather"
    "calendar calendar plan"
    "allergens allergens plan";
}

.container>div {
  animation: animate 0.5s ease-in-out 0s;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "clock weather"
      "calendar sites"
      "calendar plan"
      "allergens plan";
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "clock weather"
      "sites sites"
      "calendar plan"
      "allergens plan";
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "clock clock"
      "weather weather"
      "sites sites"
      "calendar plan"
      "allergens plan";
  }
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "clock"
      "weather"
      "sites"
      "lights"
      "plan"
      "calendar"
      "allergens";
  }
}

.container::before {
  pointer-events: none;
  content: "";
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  right: 0px;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.6) 100%),
    var(--wallpaper);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed, fixed;
  background-size: cover, cover;
  animation: animate 0.5s ease-in-out 0s;
}

@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}