.calendar {
  grid-area: calendar;
  position: relative;
}

.toggle {
  position: absolute;
  background: none;
  color: darkgray;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 14px;
  height: 14px;
  top: 6px;
  left: -16px;
}

.wrapper-show {
  display: block;
}

.wrapper-hide {
  display: none;
}

.day-container {
  margin-bottom: 1rem;
}

.day {
  font-size: 16px;
  color: darkgray;
}

.event {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.event::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--cal-color, darkgray);
}

.time {
  flex: 0 0 40px;
  font-size: 16px;
}

.summary {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}

@media (max-width: 650px) {
  .calendar {
    justify-self: center;
  }
}