.calendar {
  grid-area: calendar;
}

.day-container {
  margin-bottom: 1rem;
}

.day {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.5rem;
  text-transform: uppercase;
  color: darkgray;
}

.event {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-left: 4px solid var(--cal-color, darkgray);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.time {
  font-size: 14px;
  flex: 0 0 40px;
}

.summary {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.75;
}

@media (max-width: 650px) {
  .calendar {
    justify-self: center;
  }
}
