.lights {
  grid-area: lights;
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: fit-content;
}

.button {
  border: none;
  background: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.75;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.bulb-on {
  color: white;
  filter: drop-shadow(0px -3px 9px white);
}

.bulb-off {
  color: darkgray;
}

.bulb-on.busy {
  color: darkgray;
}

.bulb-off.busy {
  color: white;
}

@media (max-width: 900px) {
  .lights {
    justify-self: center;
  }
}
