.stocks {
  font-size: 22px;
  width: fit-content;
  grid-area: stocks;
  justify-self: end
}

.stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.prices {
  display: flex;
  align-items: center;
  gap: 24px;
}

.infoUnit {
  font-size: 0.7em;
  color: lightgray;
}