.weather {
  grid-area: weather;
  justify-self: end;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 1rem;
}

.name {
  font-size: 2rem;
  text-align: right;
}

.desc {
  font-size: 1.125rem;
  text-align: right;
}

.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: -0.5rem;
}

.icon {
  font-size: 140px;
}

.temp {
  font-size: 4rem;
  text-align: right;
}

.info {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.infoElement {
  font-size: 1.125rem;
  text-align: right;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .weather {
    justify-self: center;
  }

  .header {
    justify-content: center;
  }

  .wrapper {
    justify-content: center;
  }
}